#partners{
    background-color: #F2F2F2;
    padding-bottom: 30px;
    .partnerBox{
        width: 100%;
        background-color: white;
        border-radius: 5px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        img{
            width: 12.5%;
            margin: auto;
            padding: 13px 20px;
            height: 100px;
           
        }
    }
}