#contactPage {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    .buttonBox {
        button {
            margin: 20px;
            padding: 10px 230px;
            border: none;
            background-color: black;
            color: white;
            border-radius: 5px;
        }
    }
}