#header{
    .top-header{
        align-items: center;
        background-color: #F2F2F2;
        padding: 15px;
        display: flex;
        .left-list{
            display: flex;
            align-items: center;
            .header-image{
                width: 44px;
                height: 28px;
            }
            .first-list{
                list-style: none;
                display: flex;
                .first-list-element{
                    padding: 5px;
                    &.number{
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .bottom-header{
        background-color: #383E42;
        color: white;
        padding: 15px;
        .left-bottom{
            width: 60%;
            .icon{
                font-size: 25px;
                text-align: center;
                width: 80%;

            }
        }
        .center-bottom{
            background-color: white;
            border-radius: 5px;
            input{
                width: 95%;
                padding: 12px;
                border-radius: 5px;
                border: none;
                outline: none;
            }
            i{
                color: black;
            }
        }
        .right-bottom{
            display: flex;
            padding-left: 30px;
            align-items: center;
            span{
                padding: 10px 20px;
                border: 1px solid white;
                border-radius: 5px;
                cursor: pointer;
                
                &:hover{
                    background-color: white;
                    color: #383E42;
                }
            }
            .icon-box{
                padding: 20px;
                .svg-icon{
                    margin-left: 20px;
                }
            }
        }
    }
}

